body {
font-family: 'Sorts Mill Goudy', serif;
}

p {
	font-size: 0.9em;
	text-align: center;
	padding: 5px 0;
}

a {
	text-decoration: none;
	color: #7B1C16;
}

.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
  min-height: 80%;
}